input {
    outline: none;
}
.form-none {
    display: none;
}

.form-container {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
    

}

.form {
    border: 1px solid #cccacc;
    border-radius: 10px;
    width: max-content;
    background-color: white;
    padding:50px 20px;
    position: relative;
    
}
.form__btn {
    display: block;
    width: min-content;
    padding: 5px 100px;
    border: none;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    margin-top: 10px;
    background-color: aquamarine;
}
.form__close {
    position: absolute;
    right:15px ;
    top: 10px;
    font-size: 15px;
    cursor: pointer;
    width: 20px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #000500;

}
.form__close:hover {
    background-color: #000500;
    color: white;

}